{{! List of Posts }}
<div class="blog-list">
  {{#withSort pages 'data.date'}}
    {{#is data.published true}}
      <div class="blog-list-entry">
        <h2>
          <a href="{{{ relativeLink }}}">{{ data.title }}</a>
          <small>{{ formatDate data.date "%Y/%m/%d" }}</small>
        </h2>
        <p class="excerpt">{{ excerpt page 42 }}</p>
        <a class="text-right"
           href="{{ relativeLink }}">&raquo; Read more</a>
      </div>
    {{/is}}
  {{/withSort}}
</div>
