{{! List of Posts }}
<div class="blog-list">

  {{#blogList pages}}
    <div class="blog-list-entry">
      <h2>
        <a href="{{{ relativeLink }}}">{{ data.title }}</a>
        <small>{{ formatDate data.date "%Y/%m/%d" }}</small>
      </h2>
      <p class="excerpt">{{markdownExcerpt page 42}}</p>
      <a class="text-right"
         href="{{ relativeLink }}">&raquo; Read more</a>
    </div>
  {{/blogList}}

</div>
